
	<h1 class="movieboard-header">Movie Board</h1> <%= link_to 'Add a Movie', new_recommendation_path, class: "btn btn-success movieboard-button"%>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Movie Title</th>

	      <th>Added By</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @recommendations.each do |recommendation| %>
	      <tr>
	        <td><%= recommendation.title.camelize %></td>
	        <td><%= recommendation.user.first_name %> <%= recommendation.user.last_name %></td>
	        <td class="controls"><%= link_to 'Show', recommendation, class: "btn btn-primary btn-sm" %></td>
	        <td class="controls"><%= link_to 'Edit', edit_recommendation_path(recommendation), class: "btn btn-info btn-sm" %></td>
	        <td class="controls"><%= link_to 'Remove', recommendation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
