<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recommendation.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @recommendation.genre %>
</p>

<p>
  <strong>User:</strong>
  <%= @recommendation.user %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
