<!DOCTYPE html>
<html>
<head>
  <title>Movieq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render "layouts/nav" %>
  </header>
<div class="container notices">
	<p class="notice"><%= notice %></p>
	<p class="alert" ><%= alert %></p>
</div>
<div class="container">
  <%= yield %>
<footer>
</footer>
</div>

</body>
</html>
